.termsPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    .opacityLayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
        opacity: 0;
        transition: opacity 800ms;
    }
    .terms {
        position: relative;
        width: 800px;
        aspect-ratio: 16 / 9;
        background-color: black;
        transform: scale(0.2);
        transition: transform 600ms;
        border: solid 2px rgb(77, 247, 253);
        .closeBtn {
            position: absolute;
            top: -20px;
            right: 0;
            cursor: pointer;
            .btn{
                background-color:black;
                color:white;
                border-radius:4px;
                margin-bottom:20px;
                
            }
            .btn:hover{
                background-color:grey;
            }
        }
        .termsText{
            color:red;
            display:flex;
            justify-content:center;
            align-items:center;
            margin-top:5
        }
    }
    &.visible {
        opacity: 1;
        visibility: visible;
        .opacityLayer {
            opacity: 1;
        }
        .terms {
            transform: scale(1);
        }
    }
}